.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.color-white {
    color: var(--white);
}

.color-black {
    color: var(--black);
}

.color-grey {
    color: var(--grey);
}
